src/main/resources/xsd/nitf.dfdl.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Copyright (c) 2016 Tresys Technology, LLC. All rights reserved.

Developed by: Tresys Technology, LLC
              http://www.tresys.com

Permission is hereby granted, free of charge, to any person obtaining a copy of
this software and associated documentation files (the "Software"), to deal with
the Software without restriction, including without limitation the rights to
use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies
of the Software, and to permit persons to whom the Software is furnished to do
so, subject to the following conditions:

 1. Redistributions of source code must retain the above copyright notice,
    this list of conditions and the following disclaimers.

 2. Redistributions in binary form must reproduce the above copyright
    notice, this list of conditions and the following disclaimers in the
    documentation and/or other materials provided with the distribution.

 3. Neither the names of Tresys Technology, nor the names of its contributors
    may be used to endorse or promote products derived from this Software
    without specific prior written permission.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
CONTRIBUTORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS WITH THE
SOFTWARE.
-->


<!--
Version 0.0.1  nitf.dfdl.xsd

This DFDL schema provides a DFDL model for NITF v2.1/NSIF v1.0.

The message root is 'NITF'.
-->


<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
           xmlns:fn="http://www.w3.org/2005/xpath-functions"
           xmlns:daf="urn:ogf:dfdl:2013:imp:opensource.ncsa.illinois.edu:2012:ext"
           xmlns:nitf="urn:nitf:2.1"
           targetNamespace="urn:nitf:2.1"
           elementFormDefault="unqualified">

  <xs:annotation>
    <xs:appinfo source="http://www.ogf.org/dfdl/">

      <dfdl:format representation="text" alignment="1" alignmentUnits="bytes"
        binaryBooleanFalseRep="0" binaryBooleanTrueRep="1"
        binaryCalendarEpoch="1970-01-01T00:00:00+00:00" binaryCalendarRep="bcd"
        binaryDecimalVirtualPoint="0" binaryFloatRep="ieee"
        binaryNumberCheckPolicy="lax" binaryNumberRep="binary"
        binaryPackedSignCodes="C D F C" calendarCenturyStart="53"
        calendarCheckPolicy="lax" calendarDaysInFirstWeek="4"
        calendarFirstDayOfWeek="Monday" calendarLanguage="en-US"
        calendarObserveDST="yes" calendarPatternKind="implicit"
        calendarPattern="yyyy-MM-dd'T'HH:mm:ss" calendarTimeZone="UTC"
        choiceLengthKind="implicit" decimalSigned="yes"
        documentFinalTerminatorCanBeMissing="no" emptyValueDelimiterPolicy="none"
        encoding="us-ascii" encodingErrorPolicy="error" escapeSchemeRef=""
        fillByte="%NUL;" floating="no" ignoreCase="no" initiatedContent="no"
        initiator="" leadingSkip="0" lengthKind="implicit" lengthUnits="bytes"
        nilKind="literalValue" nilValueDelimiterPolicy="none" nilValue="%SP;"
        occursCountKind="implicit" outputNewLine="%CR;%LF;"
        prefixIncludesPrefixLength="no" separator=""
        separatorPosition="infix" sequenceKind="ordered" terminator=""
        textBidi="no" textBooleanFalseRep="false" textBooleanJustification="left"
        textBooleanPadCharacter="%SP;" textBooleanTrueRep="true"
        textCalendarJustification="left" textCalendarPadCharacter="%SP;"
        textNumberCheckPolicy="strict" textNumberJustification="right"
        textNumberPadCharacter="0" textNumberPattern="#0" textNumberRep="standard"
        textNumberRoundingIncrement="0.0" textNumberRoundingMode="roundUp"
        textNumberRounding="pattern" textOutputMinLength="0" textPadKind="padChar"
        textStandardBase="10" textStandardDecimalSeparator="."
        textStandardGroupingSeparator="," textStandardInfinityRep="Inf"
        textStandardNaNRep="NaN" textStandardZeroRep="" textStandardExponentRep=""
        textStringJustification="left" textStringPadCharacter="%SP;"
        textTrimKind="none" textZonedSignStyle="asciiStandard" trailingSkip="0"
        truncateSpecifiedLengthString="no" useNilForDefault="no" utf16Width="fixed"
        bitOrder="mostSignificantBitFirst" byteOrder="bigEndian"/>

    </xs:appinfo>
  </xs:annotation>

  <!-- Should only 0x20-0x7E and 0xA0-0xFF -->
  <xs:simpleType name="ECS-A" dfdl:lengthKind="explicit" dfdl:textTrimKind="padChar" dfdl:nilKind="literalValue" dfdl:nilValue="%ES;">
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <!-- Should only allow space, tilde, and 0x20-0x7E -->
  <xs:simpleType name="BCS-A" dfdl:lengthKind="explicit" dfdl:textTrimKind="padChar" dfdl:nilKind="literalValue" dfdl:nilValue="%ES;">
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <!-- Should only allow plus, minus, and digits 0-9 -->
  <xs:simpleType name="BCS-N" dfdl:lengthKind="explicit" dfdl:textTrimKind="none" dfdl:textNumberPattern="#0" >
    <xs:restriction base="xs:long" />
  </xs:simpleType>

  <!-- Should only allow digits 0-9. This must only be used for types less than or equal to 9 digits long -->
  <xs:simpleType name="BCS-NP" dfdl:lengthKind="explicit" dfdl:textTrimKind="none" dfdl:textNumberPattern="#0" >
    <xs:restriction base="xs:unsignedInt" />
  </xs:simpleType>

  <!-- Should only allow digits 0-9. For performance, this should only be used for types greather than 9 digits long -->
  <xs:simpleType name="BCS-NPbig" dfdl:lengthKind="explicit" dfdl:textTrimKind="none" dfdl:textNumberPattern="#0" >
    <xs:restriction base="xs:unsignedLong" />
  </xs:simpleType>

  <xs:simpleType name="dateTime" dfdl:lengthKind="explicit" dfdl:length="14" dfdl:calendarPatternKind="explicit" dfdl:calendarPattern="yyyyMMddHHmmss" dfdl:nilKind="literalCharacter" dfdl:nilValue="%SP;">
    <xs:restriction base="xs:dateTime" />
  </xs:simpleType>

  <xs:simpleType name="date" dfdl:lengthKind="explicit" dfdl:length="8" dfdl:calendarPatternKind="explicit" dfdl:calendarPattern="yyyyMMdd" dfdl:nilKind="literalCharacter" dfdl:nilValue="%SP;">
    <xs:restriction base="xs:date" />
  </xs:simpleType>


  <xs:element name="NITF">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Header">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="FileProfileName" type="nitf:BCS-A" dfdl:length="4">
                <xs:annotation>
                  <xs:appinfo source="http://www.ogf.org/dfdl/">
                    <dfdl:assert message="File Profile Name must equal 'NITF' or 'NSIF'" test="{ (. eq 'NITF') or (. eq 'NSIF') }" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="FileVersion" type="nitf:BCS-A" dfdl:length="5">
                <xs:annotation>
                  <xs:appinfo source="http://www.ogf.org/dfdl/">
                    <dfdl:assert message="File Version must equal '02.10' for NTIF or '01.00' for NSIF" test="{ ((../FileProfileName eq 'NITF') and (. eq '02.10')) or ((../FileProfileName eq 'NSIF') and (. eq '01.00')) }" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="ComplexityLevel" type="nitf:BCS-NP" dfdl:length="2" />
              <xs:element name="StandardType" type="nitf:BCS-A" dfdl:length="4">
                <xs:annotation>
                  <xs:appinfo source="http://www.ogf.org/dfdl/">
                    <dfdl:assert message="Standard Type must equal 'BF01'" test="{ . eq 'BF01' }" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="OriginatingStationID" type="nitf:BCS-A" dfdl:length="10" />
              <xs:element name="FileDateAndTime" type="nitf:dateTime" />
              <xs:element name="FileTitle" type="nitf:ECS-A" dfdl:length="80" nillable="true" />
              <xs:group ref="nitf:ClassificationInformation"/>
              <xs:element name="FileCopyNumber" type="nitf:BCS-NP" dfdl:length="5" />
              <xs:element name="FileNumberOfCopies" type="nitf:BCS-NP" dfdl:length="5" />
              <xs:element name="Encryption" type="nitf:BCS-N" dfdl:length="1" />
              <xs:element name="FileBackgroundColor">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Red" type="xs:hexBinary" dfdl:lengthKind="explicit" dfdl:length="1" />
                    <xs:element name="Green" type="xs:hexBinary" dfdl:lengthKind="explicit" dfdl:length="1" />
                    <xs:element name="Blue" type="xs:hexBinary" dfdl:lengthKind="explicit" dfdl:length="1" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="OriginatorsName" type="nitf:ECS-A" dfdl:length="24" nillable="true" />
              <xs:element name="OriginatorsPhoneNumber" type="nitf:ECS-A" dfdl:length="18" nillable="true" />
              <xs:element name="FileLength" type="nitf:BCS-NPbig" dfdl:length="12" > <!-- TODO: Output Value Calc -->
                <xs:annotation>
                  <xs:appinfo source="http://www.ogf.org/dfdl/">
                    <dfdl:assert message="FileLength of 999999999999 (unknown file length when header was created) is not supported." test="{ . ne 999999999999 }" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="FileHeaderLength" type="nitf:BCS-NP" dfdl:length="6" /> <!-- TODO: Output Value Calc -->
              <xs:element name="NumberOfImageSegments" type="nitf:BCS-NP" dfdl:length="3" dfdl:outputValueCalc="{ fn:count(../../ImageSegment) }" />
              <xs:element name="ImageSegmentLengths" minOccurs="0" maxOccurs="999" dfdl:occursCountKind="expression" dfdl:occursCount="{ ../NumberOfImageSegments }">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="HeaderLength" type="nitf:BCS-NP" dfdl:length="6" dfdl:outputValueCalc="{
                      426 +
                      (60 * fn:count(../../../ImageSegment[dfdl:occursIndex()]/Header/ImageGeographicLocation)) +
                      (80 * fn:count(../../../ImageSegment[dfdl:occursIndex()]/Header/ImageComment)) +
                      (4  * fn:count(../../../ImageSegment[dfdl:occursIndex()]/Header/CompressionRateCode)) +
                      (5  * fn:count(../../../ImageSegment[dfdl:occursIndex()]/Header/NumberOfMultispectralBands)) +
                      (3  * fn:count(../../../ImageSegment[dfdl:occursIndex()]/Header/UserDefinedOverflow)) +
                      (3  * fn:count(../../../ImageSegment[dfdl:occursIndex()]/Header/ImageExtendedSubheaderOverflow)) +
                      (if (fn:exists(../../../ImageSegment[dfdl:occursIndex()]/Header/Bands)) then dfdl:valueLength(../../../ImageSegment[dfdl:occursIndex()]/Header/Bands, 'bytes') else 0) +
                      (if (fn:exists(../../../ImageSegment[dfdl:occursIndex()]/Header/UserDefinedImageData)) then dfdl:valueLength(../../../ImageSegment[dfdl:occursIndex()]/Header/UserDefinedImageData[1], 'bytes') else 0) +
                      (if (fn:exists(../../../ImageSegment[dfdl:occursIndex()]/Header/ImageExtendedSubheaderData)) then dfdl:valueLength(../../../ImageSegment[dfdl:occursIndex()]/Header/ImageExtendedSubheaderData[1], 'bytes') else 0)
                      }">
                      <xs:annotation>
                        <xs:appinfo source="http://www.ogf.org/dfdl/">
                          <dfdl:assert message="FileLength of 999999 (unknown image header length when header was created) is not supported." test="{ . ne 999999 }" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="DataLength" type="nitf:BCS-NPbig" dfdl:length="10" dfdl:outputValueCalc="{ dfdl:valueLength(../../../ImageSegment[dfdl:occursIndex()]/Data, 'bytes') }">
                      <xs:annotation>
                        <xs:appinfo source="http://www.ogf.org/dfdl/">
                          <dfdl:assert message="FileLength of 9999999999 (unknown image data length when header was created) is not supported." test="{ . ne 9999999999 }" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="NumberOfGraphicSegments" type="nitf:BCS-NP" dfdl:length="3" dfdl:outputValueCalc="{ fn:count(../../GraphicSegment) }" />
              <xs:element name="GraphicSegmentLengths" minOccurs="0" maxOccurs="999" dfdl:occursCountKind="expression" dfdl:occursCount="{ ../NumberOfGraphicSegments }">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="HeaderLength" type="nitf:BCS-NP" dfdl:length="4" dfdl:outputValueCalc="{
                      258 +
                      (3  * fn:count(../../../GraphicSegment[dfdl:occursIndex()]/Header/GraphicExtendedSubheaderOverflow)) +
                      (if (fn:exists(../../../GraphicSegment[dfdl:occursIndex()]/Header/GraphicExtendedSubheaderData)) then dfdl:valueLength(../../../GraphicSegment[dfdl:occursIndex()]/Header/GraphicExtendedSubheaderData[1], 'bytes') else 0)
                      }">
                      <xs:annotation>
                        <xs:appinfo source="http://www.ogf.org/dfdl/">
                          <dfdl:assert message="FileLength of 9999 (unknown graphic header length when header was created) is not supported." test="{ . ne 9999 }" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="DataLength" type="nitf:BCS-NP" dfdl:length="6" dfdl:outputValueCalc="{ dfdl:valueLength(../../../GraphicSegment[dfdl:occursIndex()]/Data, 'bytes') }">
                      <xs:annotation>
                        <xs:appinfo source="http://www.ogf.org/dfdl/">
                          <dfdl:assert message="FileLength of 999999 (unknown graphic data length when header was created) is not supported." test="{ . ne 999999 }" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ReservedForFutureUse" type="nitf:BCS-NP" dfdl:length="3" />
              <xs:element name="NumberOfTextSegments" type="nitf:BCS-NP" dfdl:length="3" dfdl:outputValueCalc="{ fn:count(../../TextSegment) }" />
              <xs:element name="TextSegmentLengths" minOccurs="0" maxOccurs="999" dfdl:occursCountKind="expression" dfdl:occursCount="{ ../NumberOfTextSegments }">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="HeaderLength" type="nitf:BCS-NP" dfdl:length="4" dfdl:outputValueCalc="{
                      282 +
                      (3  * fn:count(../../../TextSegment[dfdl:occursIndex()]/Header/TextExtendedSubheaderOverflow)) +
                      (if (fn:exists(../../../TextSegment[dfdl:occursIndex()]/Header/TextExtendedSubheaderData)) then dfdl:valueLength(../../../TextSegment[dfdl:occursIndex()]/Header/TextExtendedSubheaderData[1], 'bytes') else 0)
                      }">
                      <xs:annotation>
                        <xs:appinfo source="http://www.ogf.org/dfdl/">
                          <dfdl:assert message="FileLength of 9999 (unknown text header length when header was created) is not supported." test="{ . ne 9999 }" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="DataLength" type="nitf:BCS-NP" dfdl:length="5" dfdl:outputValueCalc="{ dfdl:valueLength(../../../TextSegment[dfdl:occursIndex()]/Data, 'bytes') }">
                      <xs:annotation>
                        <xs:appinfo source="http://www.ogf.org/dfdl/">
                          <dfdl:assert message="FileLength of 99999 (unknown text data length when header was created) is not supported." test="{ . ne 99999 }" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="NumberOfDataExtensionSegments" type="nitf:BCS-NP" dfdl:length="3" dfdl:outputValueCalc="{ fn:count(../../DataExtensionSegment) }" />
              <xs:element name="DataExtensionSegmentLengths" minOccurs="0" maxOccurs="999" dfdl:occursCountKind="expression" dfdl:occursCount="{ ../NumberOfDataExtensionSegments }">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="HeaderLength" type="nitf:BCS-NP" dfdl:length="4" dfdl:outputValueCalc="{
                      200 +
                      (3  * fn:count(../../../DataExtensionSegment[dfdl:occursIndex()]/Header/DESOverflowedHeaderType)) +
                      (if (../../../DataExtensionSegment[dfdl:occursIndex()]/Header/UniqueDESTypeIdentifier eq 'TRE_OVERFLOW') then 6 else 0) +
                      (if (fn:exists(../../../DataExtensionSegment[dfdl:occursIndex()]/Header/DESUserDefinedSubheaderFields)) then dfdl:valueLength(../../../DataExtensionSegment[dfdl:occursIndex()]/Header/DESUserDefinedSubheaderFields[1], 'bytes') else 0)
                      }">
                      <xs:annotation>
                        <xs:appinfo source="http://www.ogf.org/dfdl/">
                          <dfdl:assert message="FileLength of 9999 (unknown data extension header length when header was created) is not supported." test="{ . ne 9999 }" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="DataLength" type="nitf:BCS-NP" dfdl:length="9" dfdl:outputValueCalc="{ dfdl:valueLength(../../../DataExtensionSegment[dfdl:occursIndex()]/Data, 'bytes') }">
                      <xs:annotation>
                        <xs:appinfo source="http://www.ogf.org/dfdl/">
                          <dfdl:assert message="FileLength of 999999999 (unknown data extension data length when header was created) is not supported." test="{ . ne 999999999 }" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="NumberOfReservedExtensionSegments" type="nitf:BCS-NP" dfdl:length="3" dfdl:outputValueCalc="{ fn:count(../../ReservedExtensionSegment) }" />
              <xs:element name="ReservedExtensionSegmentLengths" minOccurs="0" maxOccurs="999" dfdl:occursCountKind="expression" dfdl:occursCount="{ ../NumberOfReservedExtensionSegments }">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="HeaderLength" type="nitf:BCS-NP" dfdl:length="4" dfdl:outputValueCalc="{
                      200 +
                      (if (fn:exists(../../../ReservedExtensionSegment[dfdl:occursIndex()]/Header/RESUserDefinedSubheaderFields)) then dfdl:valueLength(../../../ReservedExtensionSegment[dfdl:occursIndex()]/Header/RESUserDefinedSubheaderFields[1], 'bytes') else 0)
                      }">
                      <xs:annotation>
                        <xs:appinfo source="http://www.ogf.org/dfdl/">
                          <dfdl:assert message="FileLength of 9999 (unknown reserved extension header length when header was created) is not supported." test="{ . ne 9999 }" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="DataLength" type="nitf:BCS-NP" dfdl:length="7" dfdl:outputValueCalc="{ dfdl:valueLength(../../../ReservedExtensionSegment[dfdl:occursIndex()]/Data, 'bytes') }">
                      <xs:annotation>
                        <xs:appinfo source="http://www.ogf.org/dfdl/">
                          <dfdl:assert message="FileLength of 9999999 (unknown reserved extension data length when header was created) is not supported." test="{ . ne 9999999 }" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="UserDefinedHeaderDataLength" type="nitf:BCS-NP" dfdl:length="5" dfdl:outputValueCalc="{
                if (fn:exists(../UserDefinedHeaderData)) then dfdl:valueLength(../UserDefinedHeaderData[1]/nitf:TaggedRecordExtensions, 'bytes') + 3 else 0
                }"/>
              <xs:element name="UserDefinedHeaderOverflow" minOccurs="0" type="nitf:BCS-NP" dfdl:length="3" dfdl:occursCountKind="expression" dfdl:occursCount="{ if (../UserDefinedHeaderDataLength eq 0) then 0 else 1 }" />
              <xs:element name="UserDefinedHeaderData" minOccurs="0" dfdl:occursCountKind="expression" dfdl:occursCount="{ if (../UserDefinedHeaderDataLength eq 0) then 0 else 1 }" dfdl:lengthKind="explicit" dfdl:length="{ ../UserDefinedHeaderDataLength - 3 }">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="nitf:TaggedRecordExtensions" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ExtendedHeaderDataLength" type="nitf:BCS-NP" dfdl:length="5" dfdl:outputValueCalc="{
                if (fn:exists(../ExtendedHeaderData)) then dfdl:valueLength(../ExtendedHeaderData[1]/nitf:TaggedRecordExtensions, 'bytes') + 3 else 0
                }"/>
              <xs:element name="ExtendedHeaderDataOverflow" minOccurs="0" type="nitf:BCS-NP" dfdl:length="3" dfdl:occursCountKind="expression" dfdl:occursCount="{ if (../ExtendedHeaderDataLength eq 0) then 0 else 1 }" />
              <xs:element name="ExtendedHeaderData" minOccurs="0" dfdl:occursCountKind="expression" dfdl:occursCount="{ if (../ExtendedHeaderDataLength eq 0) then 0 else 1 }" dfdl:lengthKind="explicit" dfdl:length="{ ../ExtendedHeaderDataLength - 3 }">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="nitf:TaggedRecordExtensions" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="ImageSegment" minOccurs="0" maxOccurs="999" dfdl:occursCountKind="expression" dfdl:occursCount="{ ../Header/NumberOfImageSegments }">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Header" dfdl:lengthKind="explicit" dfdl:length="{ ../../Header/ImageSegmentLengths[dfdl:occursIndex()]/HeaderLength }">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="FilePartType" type="nitf:BCS-A" dfdl:length="2" />
                    <xs:element name="ImageIdentifier1" type="nitf:BCS-A" dfdl:length="10" />
                    <xs:element name="ImageDateAndTime" type="nitf:dateTime" />
                    <xs:element name="TargetIdentifier">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="BasicEncyclopediaIdentifier" type="nitf:BCS-A" dfdl:length="10" nillable="true" />
                          <xs:element name="FacilityOSuffix" type="nitf:BCS-A" dfdl:length="5" nillable="true" />
                          <xs:element name="CountryCode" type="nitf:BCS-A" dfdl:length="2" nillable="true" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ImageIdentifier2" type="nitf:BCS-A" dfdl:length="80" nillable="true" />
                    <xs:group ref="nitf:ClassificationInformation" />
                    <xs:element name="Encryption" type="nitf:BCS-NP" dfdl:length="1" />
                    <xs:element name="ImageSource" type="nitf:BCS-A" dfdl:length="42" nillable="true" />
                    <xs:element name="NumberOfSignificantRowsInImage" type="nitf:BCS-NP" dfdl:length="8" />
                    <xs:element name="NumberOfSignificantColumnsInImage" type="nitf:BCS-NP" dfdl:length="8" />
                    <xs:element name="PixelValueType" type="nitf:BCS-A" dfdl:length="3" />
                    <xs:element name="ImageRepresentation" type="nitf:BCS-A" dfdl:length="8" />
                    <xs:element name="ImageCategory" type="nitf:BCS-A" dfdl:length="8" />
                    <xs:element name="ActualBitsPerPixelPerBand" type="nitf:BCS-NP" dfdl:length="2" />
                    <xs:element name="PixelJustification" type="nitf:BCS-A" dfdl:length="1" />
                    <xs:element name="ImageCoordinateRepresentation" type="nitf:BCS-A" dfdl:length="1" nillable="true" />
                    <xs:element name="ImageGeographicLocation" minOccurs="0" dfdl:lengthKind="explicit" dfdl:length="60">
                      <xs:complexType>
                        <xs:choice>
                          <xs:element name="MilitaryGridReferenceSystem"> <!-- zzBJKeeeeennnnn -->
                            <xs:complexType>
                              <xs:sequence>
                                <xs:sequence>
                                  <xs:annotation>
                                    <xs:appinfo source="http://www.ogf.org/dfdl/">
                                      <dfdl:discriminator test="{ fn:not(fn:nilled(../../ImageCoordinateRepresentation)) and (../../ImageCoordinateRepresentation eq 'U') }" />
                                    </xs:appinfo>
                                  </xs:annotation>
                                </xs:sequence>
                                <xs:element name="Corner" minOccurs="4" maxOccurs="4" dfdl:occursCountKind="fixed">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Lattitude" type="nitf:BCS-A" dfdl:length="15" />
                                      <xs:element name="Longitude" type="nitf:BCS-A" dfdl:length="15" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="NorthernHemisphere"> <!-- zzeeeeeennnnnnn -->
                            <xs:complexType>
                              <xs:sequence>
                                <xs:sequence>
                                  <xs:annotation>
                                    <xs:appinfo source="http://www.ogf.org/dfdl/">
                                      <dfdl:discriminator test="{ fn:not(fn:nilled(../../ImageCoordinateRepresentation)) and (../../ImageCoordinateRepresentation eq 'N') }" />
                                    </xs:appinfo>
                                  </xs:annotation>
                                </xs:sequence>
                                <xs:element name="Corner" minOccurs="4" maxOccurs="4" dfdl:occursCountKind="fixed">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Lattitude" type="nitf:BCS-A" dfdl:length="15" />
                                      <xs:element name="Longitude" type="nitf:BCS-A" dfdl:length="15" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="SouthernHemisphere"> <!-- zzeeeeeennnnnnn -->
                            <xs:complexType>
                              <xs:sequence>
                                <xs:sequence>
                                  <xs:annotation>
                                    <xs:appinfo source="http://www.ogf.org/dfdl/">
                                      <dfdl:discriminator test="{ fn:not(fn:nilled(../../ImageCoordinateRepresentation)) and (../../ImageCoordinateRepresentation eq 'S') }" />
                                    </xs:appinfo>
                                  </xs:annotation>
                                </xs:sequence>
                                <xs:element name="Corner" minOccurs="4" maxOccurs="4" dfdl:occursCountKind="fixed">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Lattitude" type="nitf:BCS-A" dfdl:length="15" />
                                      <xs:element name="Longitude" type="nitf:BCS-A" dfdl:length="15" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Geographic"> <!-- ddmmssXddmmssY -->
                            <xs:complexType>
                              <xs:sequence>
                                <xs:sequence>
                                  <xs:annotation>
                                    <xs:appinfo source="http://www.ogf.org/dfdl/">
                                      <dfdl:discriminator test="{ fn:not(fn:nilled(../../ImageCoordinateRepresentation)) and (../../ImageCoordinateRepresentation eq 'G') }" />
                                    </xs:appinfo>
                                  </xs:annotation>
                                </xs:sequence>
                                <xs:element name="Corner" minOccurs="4" maxOccurs="4" dfdl:occursCountKind="fixed">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Lattitude" type="nitf:BCS-A" dfdl:length="7" />
                                      <xs:element name="Longitude" type="nitf:BCS-A" dfdl:length="8" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="DecimalDegrees"> <!-- +-dd.ddd+-ddd.ddd -->
                            <xs:complexType>
                              <xs:sequence>
                                <xs:sequence>
                                  <xs:annotation>
                                    <xs:appinfo source="http://www.ogf.org/dfdl/">
                                      <dfdl:discriminator test="{ fn:not(fn:nilled(../../ImageCoordinateRepresentation)) and (../../ImageCoordinateRepresentation eq 'D') }" />
                                    </xs:appinfo>
                                  </xs:annotation>
                                </xs:sequence>
                                <xs:element name="Corner" minOccurs="4" maxOccurs="4" dfdl:occursCountKind="fixed">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Lattitude" type="nitf:BCS-A" dfdl:length="7" />
                                      <xs:element name="Longitude" type="nitf:BCS-A" dfdl:length="8" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:choice>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="NumberOfImageComments" type="nitf:BCS-NP" dfdl:length="1" />
                    <xs:element name="ImageComment" minOccurs="0" maxOccurs="9" type="nitf:ECS-A" dfdl:occursCountKind="expression" dfdl:occursCount="{ ../NumberOfImageComments }" dfdl:length="80" />
                    <xs:element name="ImageCompression" type="nitf:BCS-A" dfdl:length="2" />
                    <xs:element name="CompressionRateCode" type="nitf:BCS-A" minOccurs="0" dfdl:length="4" dfdl:occursCountKind="expression"
                         dfdl:occursCount="{
                           if ((../ImageCompression eq 'C1') or (../ImageCompression eq 'C3') or (../ImageCompression eq 'C4') or
                               (../ImageCompression eq 'C5') or (../ImageCompression eq 'C8') or (../ImageCompression eq 'M1') or
                               (../ImageCompression eq 'M3') or (../ImageCompression eq 'M4') or (../ImageCompression eq 'M5') or
                               (../ImageCompression eq 'M8') or (../ImageCompression eq 'I1'))
                           then 1
                           else 0
                         }" />
                    <xs:element name="NumberOfBands" type="nitf:BCS-NP" dfdl:length="1" />
                    <xs:element name="NumberOfMultispectralBands" minOccurs="0" type="nitf:BCS-NP" dfdl:occursCountKind="expression" dfdl:occursCount="{ if (../NumberOfBands eq 0) then 1 else 0 }" dfdl:length="5" />
                    <xs:element name="Band" minOccurs="1" maxOccurs="99999" dfdl:occursCountKind="expression" dfdl:occursCount="{ if (fn:exists(../NumberOfMultispectralBands)) then ../NumberOfMultispectralBands[1] else ../NumberOfBands }">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Representation" type="nitf:BCS-A" dfdl:length="2" nillable="true" />
                          <xs:element name="Subcategory" type="nitf:BCS-A" dfdl:length="6" nillable="true"/>
                          <xs:element name="ImageFilterCondition" type="nitf:BCS-A" dfdl:length="1" />
                          <xs:element name="StandardImageFilterCode" type="nitf:BCS-A" dfdl:length="3" nillable="true" />
                          <xs:element name="NumberOfLUTS" type="nitf:BCS-NP" dfdl:length="1" />
                          <xs:element name="NumberOfLUTEntries" minOccurs="0" type="nitf:BCS-NP" dfdl:occursCountKind="expression" dfdl:occursCount="{ if (../NumberOfLUTS eq 0) then 0 else 1 }" dfdl:length="5" />
                          <xs:element name="LUT" type="xs:hexBinary" minOccurs="0" maxOccurs="4" dfdl:occursCountKind="expression" dfdl:occursCount="{ ../NumberOfLUTS }" dfdl:lengthKind="explicit" dfdl:length="{ ../NumberOfLUTEntries[1] }" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ImageSyncCode" type="nitf:BCS-NP" dfdl:length="1" />
                    <xs:element name="ImageMode" type="nitf:BCS-A" dfdl:length="1" />
                    <xs:element name="NumberOfBlocksPerRow" type="nitf:BCS-NP" dfdl:length="4" />
                    <xs:element name="NumberOfBlocksPerColumn" type="nitf:BCS-NP" dfdl:length="4" />
                    <xs:element name="NumberOfPixelsPerBlockHorizontal" type="nitf:BCS-NP" dfdl:length="4" />
                    <xs:element name="NumberOfPixelsPerBlockVertical" type="nitf:BCS-NP" dfdl:length="4" />
                    <xs:element name="NumberOfBitsPerPixelPerBand" type="nitf:BCS-NP" dfdl:length="2" />
                    <xs:element name="ImageDisplayLevel" type="nitf:BCS-NP" dfdl:length="3" />
                    <xs:element name="AttachmentLevel" type="nitf:BCS-NP" dfdl:length="3" />
                    <xs:element name="ImageLocation">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Row" type="nitf:BCS-N" dfdl:length="5" />
                          <xs:element name="Column" type="nitf:BCS-N" dfdl:length="5" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ImageMagnification" type="nitf:BCS-A" dfdl:length="4" />
                    <xs:element name="UserDefinedImageDataLength" type="nitf:BCS-NP" dfdl:length="5" />
                    <xs:element name="UserDefinedOverflow" type="nitf:BCS-NP" minOccurs="0" dfdl:length="3" dfdl:occursCountKind="expression" dfdl:occursCount="{ if (../UserDefinedImageDataLength eq 0) then 0 else 1 }" />
                    <xs:element name="UserDefinedImageData" minOccurs="0" dfdl:lengthKind="explicit" dfdl:length="{ ../UserDefinedImageDataLength - 3 }" dfdl:occursCountKind="expression" dfdl:occursCount="{ if (../UserDefinedImageDataLength eq 0) then 0 else 1 }">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element ref="nitf:TaggedRecordExtensions" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ImageExtendedSubheaderDataLength" type="nitf:BCS-NP" dfdl:length="5" />
                    <xs:element name="ImageExtendedSubheaderOverflow" type="nitf:BCS-NP" minOccurs="0" dfdl:length="3" dfdl:occursCountKind="expression" dfdl:occursCount="{ if (../ImageExtendedSubheaderDataLength eq 0) then 0 else 1 }" />
                    <xs:element name="ImageExtendedSubheaderData" minOccurs="0" dfdl:lengthKind="explicit" dfdl:length="{ ../ImageExtendedSubheaderDataLength - 3 }" dfdl:occursCountKind="expression" dfdl:occursCount="{ if (../ImageExtendedSubheaderDataLength eq 0) then 0 else 1 }">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element ref="nitf:TaggedRecordExtensions" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Data" type="xs:hexBinary" dfdl:representation="binary" dfdl:lengthKind="explicit" dfdl:length="{ ../../Header/ImageSegmentLengths[dfdl:occursIndex()]/DataLength }" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="GraphicSegment" minOccurs="0" maxOccurs="999" dfdl:occursCountKind="expression" dfdl:occursCount="{ ../Header/NumberOfGraphicSegments }">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Header" dfdl:lengthKind="explicit" dfdl:length="{ ../../Header/GraphicSegmentLengths[dfdl:occursIndex()]/HeaderLength }">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="FilePartType" type="nitf:BCS-A" dfdl:length="2" />
                    <xs:element name="GraphicIdentifier" type="nitf:BCS-A" dfdl:length="10" />
                    <xs:element name="GraphicName" type="nitf:ECS-A" dfdl:length="20" />
                    <xs:group ref="nitf:ClassificationInformation" />
                    <xs:element name="Encryption" type="nitf:BCS-NP" dfdl:length="1" />
                    <xs:element name="GraphicType" type="nitf:BCS-A" dfdl:length="1" />
                    <xs:element name="ReservedForFutureUse1" type="nitf:BCS-NPbig" dfdl:length="13" />
                    <xs:element name="GraphicDisplayLevel" type="nitf:BCS-NP" dfdl:length="3" />
                    <xs:element name="GraphicAttachmentLevel" type="nitf:BCS-NP" dfdl:length="3" />
                    <xs:element name="GraphicLocation">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Row" type="nitf:BCS-N" dfdl:length="5" />
                          <xs:element name="Column" type="nitf:BCS-N" dfdl:length="5" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="FirstGraphicBoundLocation">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Row" type="nitf:BCS-N" dfdl:length="5" />
                          <xs:element name="Column" type="nitf:BCS-N" dfdl:length="5" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="GraphicColor" type="nitf:BCS-A" dfdl:length="1" />
                    <xs:element name="SecondGraphicBoundLocation">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Row" type="nitf:BCS-N" dfdl:length="5" />
                          <xs:element name="Column" type="nitf:BCS-N" dfdl:length="5" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ReservedForFutureUse2" type="nitf:BCS-NP" dfdl:length="2" />
                    <xs:element name="GraphicExtendedSubheaderDataLength" type="nitf:BCS-NP" dfdl:length="5" />
                    <xs:element name="GraphicExtendedSubheaderOverflow" minOccurs="0" type="nitf:BCS-NP" dfdl:length="3" dfdl:occursCountKind="expression" dfdl:occursCount="{ if (../GraphicExtendedSubheaderDataLength eq 0) then 0 else 1 }" />
                    <xs:element name="GraphicExtendedSubheaderData" minOccurs="0" dfdl:occursCountKind="expression" dfdl:occursCount="{ if (../GraphicExtendedSubheaderDataLength eq 0) then 0 else 1 }" dfdl:lengthKind="explicit" dfdl:length="{ ../GraphicExtendedSubheaderDataLength - 3 }">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element ref="nitf:TaggedRecordExtensions" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Data" type="xs:hexBinary" dfdl:representation="binary" dfdl:lengthKind="explicit" dfdl:length="{ ../../Header/GraphicSegmentLengths[dfdl:occursIndex()]/DataLength }" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="TextSegment" minOccurs="0" maxOccurs="999" dfdl:occursCountKind="expression" dfdl:occursCount="{ ../Header/NumberOfTextSegments }">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Header" dfdl:lengthKind="explicit" dfdl:length="{ ../../Header/TextSegmentLengths[dfdl:occursIndex()]/HeaderLength }">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="FilePartType" type="nitf:BCS-A" dfdl:length="2" />
                    <xs:element name="TextIdentifier" type="nitf:BCS-A" dfdl:length="7" />
                    <xs:element name="TextAttachmentLevel" type="nitf:BCS-NP" dfdl:length="3" />
                    <xs:element name="TextDateAndTime" type="nitf:dateTime" />
                    <xs:element name="TextTitle" type="nitf:ECS-A" dfdl:length="80" />
                    <xs:group ref="nitf:ClassificationInformation" />
                    <xs:element name="Encryption" type="nitf:BCS-NP" dfdl:length="1" />
                    <xs:element name="TextFormat" type="nitf:BCS-A" dfdl:length="3" />
                    <xs:element name="TextExtendedSubheaderDataLength" type="nitf:BCS-NP" dfdl:length="5" />
                    <xs:element name="TextExtendedSubheaderOverflow" minOccurs="0" type="nitf:BCS-NP" dfdl:length="3" dfdl:occursCountKind="expression" dfdl:occursCount="{ if (../TextExtendedSubheaderDataLength eq 0) then 0 else 1 }" />
                    <xs:element name="TextExtendedSubheaderData" minOccurs="0" dfdl:occursCountKind="expression" dfdl:occursCount="{ if (../TextExtendedSubheaderDataLength eq 0) then 0 else 1 }" dfdl:lengthKind="explicit" dfdl:length="{ ../TextExtendedSubheaderDataLength - 3 }">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element ref="nitf:TaggedRecordExtensions" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Data" type="xs:hexBinary" dfdl:representation="binary" dfdl:lengthKind="explicit" dfdl:length="{ ../../Header/TextSegmentLengths[dfdl:occursIndex()]/DataLength }" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="DataExtensionSegment" minOccurs="0" maxOccurs="999" dfdl:occursCountKind="expression" dfdl:occursCount="{ ../Header/NumberOfDataExtensionSegments }">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Header" dfdl:lengthKind="explicit" dfdl:length="{ ../../Header/DataExtensionSegmentLengths[dfdl:occursIndex()]/HeaderLength }">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="FilePartType" type="nitf:BCS-A" dfdl:length="2" />
                    <xs:element name="UniqueDESTypeIdentifier" type="nitf:BCS-A" dfdl:length="25" />
                    <xs:element name="VersionOfTheDataDefinition" type="nitf:BCS-NP" dfdl:length="2" />
                    <xs:group ref="nitf:ClassificationInformation" />
                    <xs:element name="DESOverflowedHeaderType" type="nitf:BCS-A" minOccurs="0" dfdl:length="6" dfdl:occursCountKind="expression" dfdl:occursCount="{ if (../UniqueDESTypeIdentifier eq 'TRE_OVERFLOW') then 1 else 0 }" />
                    <xs:element name="DESDataItemOverflowed" type="nitf:BCS-NP" minOccurs="0" dfdl:length="3" dfdl:occursCountKind="expression" dfdl:occursCount="{ if (fn:exists(../DESOverflowedHeaderType)) then 1 else 0 }" />
                    <xs:element name="DESUserDefinedSubheaderLength" type="nitf:BCS-NP" dfdl:length="4" />
                    <xs:element name="DESUserDefinedSubheaderFields" type="xs:hexBinary" minOccurs="0" dfdl:lengthKind="explicit" dfdl:length="{ ../DESUserDefinedSubheaderLength }" dfdl:occursCountKind="expression" dfdl:occursCount="{ if (../DESUserDefinedSubheaderLength eq 0) then 0 else 1 }" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Data" dfdl:lengthKind="explicit" dfdl:length="{ ../../Header/DataExtensionSegmentLengths[dfdl:occursIndex()]/DataLength }">
                <xs:complexType>
                  <xs:choice>
                    <xs:element ref="nitf:TaggedRecordExtensions">
                      <xs:annotation>
                        <xs:appinfo source="http://www.ogf.org/dfdl/">
                          <dfdl:discriminator test="{ ../../Header/UniqueDESTypeIdentifier eq 'TRE_OVERFLOW' }" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="DESUserDefinedData" type="xs:hexBinary" dfdl:representation="binary" dfdl:lengthKind="explicit" dfdl:length="{ ../../../Header/DataExtensionSegmentLengths[dfdl:occursIndex()]/DataLength }" />
                  </xs:choice>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="ReservedExtensionSegment" minOccurs="0" maxOccurs="999" dfdl:occursCountKind="expression" dfdl:occursCount="{ ../Header/NumberOfReservedExtensionSegments }">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Header" dfdl:lengthKind="explicit" dfdl:length="{ ../../Header/ReservedExtensionSegmentLengths[dfdl:occursIndex()]/HeaderLength }">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="FilePartType" type="nitf:BCS-A" dfdl:length="2" />
                    <xs:element name="UniqueRESTypeIdentifier" type="nitf:BCS-A" dfdl:length="25" />
                    <xs:element name="VersionOfTheDataDefinition" type="nitf:BCS-NP" dfdl:length="2" />
                    <xs:group ref="nitf:ClassificationInformation" />
                    <xs:element name="RESUserDefinedSubheaderLength" type="nitf:BCS-NP" dfdl:length="4" />
                    <xs:element name="RESUserDefinedSubheaderFields" type="xs:hexBinary" minOccurs="0" dfdl:lengthKind="explicit" dfdl:length="{ ../RESUserDefinedSubheaderLength }" dfdl:occursCountKind="expression" dfdl:occursCount="{ if (../RESUserDefinedSubheaderLength eq 0) then 0 else 1 }" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Data" dfdl:lengthKind="explicit" dfdl:length="{ ../../Header/ReservedExtensionSegmentLengths[dfdl:occursIndex()]/DataLength }">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="RESUserDefinedData" type="xs:hexBinary" dfdl:representation="binary" dfdl:lengthKind="explicit" dfdl:length="{ ../../../Header/ReservedExtensionSegmentLengths[dfdl:occursIndex()]/DataLength }" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:group name="ClassificationInformation">
    <xs:sequence>
      <xs:element name="SecurityClassification" dfdl:length="1">
        <xs:simpleType>
          <xs:restriction base="nitf:ECS-A">
            <xs:enumeration value="T"/>
            <xs:enumeration value="S"/>
            <xs:enumeration value="C"/>
            <xs:enumeration value="R"/>
            <xs:enumeration value="U"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <!-- TODO: all these classificiation fields are validated based on FileSecurityClassification and other information -->
      <xs:element name="SecurityClassificationSystem" type="nitf:ECS-A" dfdl:length="2" nillable="true" />
      <xs:element name="Codewords" type="nitf:BCS-A" dfdl:length="11" nillable="true" />
      <xs:element name="ControlAndHandling" type="nitf:ECS-A" dfdl:length="2" nillable="true" />
      <xs:element name="ReleasingInstructions" type="nitf:ECS-A" dfdl:length="20" nillable="true" />
      <xs:element name="DeclassificationType" type="nitf:ECS-A" dfdl:length="2" nillable="true" />
      <xs:element name="DeclassificationDate" type="nitf:ECS-A" dfdl:length="8" nillable="true" />
      <xs:element name="DeclassificationExemption" type="nitf:ECS-A" dfdl:length="4" nillable="true" />
      <xs:element name="Downgrade" type="nitf:ECS-A" dfdl:length="1" nillable="true" />
      <xs:element name="DowngradeDate" type="nitf:date" nillable="true" />
      <xs:element name="ClassificationText" type="nitf:ECS-A" dfdl:length="43" nillable="true" />
      <xs:element name="ClassificationAuthorityType" type="nitf:ECS-A" dfdl:length="1" nillable="true" />
      <xs:element name="ClassificationAuthority" type="nitf:ECS-A" dfdl:length="40" nillable="true" />
      <xs:element name="ClassificationReason" type="nitf:ECS-A" dfdl:length="1" nillable="true" />
      <xs:element name="SecuritySourceDate" type="nitf:date" nillable="true" />
      <xs:element name="SecurityControlNumber" type="nitf:ECS-A" dfdl:length="15" nillable="true" />
    </xs:sequence>
  </xs:group>

  <xs:element name="TaggedRecordExtensions">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="TaggedRecordExtension" minOccurs="0" maxOccurs="unbounded" dfdl:occursCountKind="parsed">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="UniqueExtensionTypeIdentifier" type="nitf:BCS-A" dfdl:length="6" />
              <xs:element name="LengthOfData" type="nitf:BCS-NP" dfdl:length="5" />
              <!-- TODO: the format of some TRE's are registered and defined in the DataExtensioNRegistry maintained by JITC -->
              <xs:element name="UserDefinedData" type="xs:hexBinary" dfdl:lengthKind="explicit" dfdl:length="{ ../LengthOfData }" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
